<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill</title>

    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    <h2>The Bill Form</h2>
    <p><b>Fill in the form and click the button to get the results</b></p>
    <form action="/results" method="POST">
        {{bill_form.amount.label}} {{bill_form.amount}}
        <br>
        {{bill_form.period.label}} {{bill_form.period}}
        <hr>
        <p>First flatmate</p>
        {{bill_form.name1.label}} {{bill_form.name1}}
        <br>
        {{bill_form.days_in_house1.label}} {{bill_form.days_in_house1}}
        <hr>
        <p>Second flatmate</p>
        {{bill_form.name2.label}} {{bill_form.name2}}
        <br>
        {{bill_form.days_in_house2.label}} {{bill_form.days_in_house2}}
        <br>
        {{bill_form.button}}
    </form>
    <br>
    <a href="{{url_for('home_page')}}">Home</a>
</body>
</html>